<!DOCTYPE html>
<html>
<head>
    <title>Camera Stream - {{ camera_port }}</title>
</head>
<body>
    <h1>Camera Stream - {{ camera_port }}</h1>
    <img id="camera_img" width="640" height="480">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/camera');

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('image', function(data) {
            var img = document.getElementById('camera_img');
            img.src = 'data:image/jpeg;base64,' + data['image_data'];
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from server');
        });
    </script>
</body>
</html>
